###### Requirements without Version Specifiers ######`
numpy
pandas
scikit-learn
matplotlib
tqdm
openslide-python
scikit-image
opencv-python
jupyter
tqdm
requests

###### Requirements with Version Specifiers ######